<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ng-class="{active:vm.currentState==='home'}"><a ui-sref="home">Home</a></li>
        <li ng-class="{active:vm.currentState==='about'}"><a ui-sref="about">About</a></li>
        <li ng-class="{active:vm.currentState==='contact'}"><a ui-sref="contact">Contact</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right acme-navbar-text">
        <img id="micImg" ng-click="vm.micAction()" src="assets/images/mic.gif" alt="On">
      </ul>
    </div>
  </div>
</nav>
